header{
    background: rgba(0, 0, 255, 0.47);
}

header h1{
    margin: 100px 0px;
    color: white;
    text-align: center;
}
#first{
    margin-top: 40px
}
.rating-cont{
    display: inline-block;
    margin: 0 auto;
}
.rating-cont .user-rating{
    float: left;
    width: 110px;
}
.datepicker{
    background: white !important;
}
.num-of-rat{
    float: left;
    font-size: 19px;
    margin-left: 3px;
}
.bord {
    border-right: 1px solid rgb(193, 0, 0);
}
.zero{
    padding: 0;
    margin:5px 0;
}
.last{
    padding-bottom: 10px;
}
.hladat .col-md-12{
    margin: 10px 0;
}
.ponuky{
    background: #f0f0f0;
    color: black;
    padding:0;
}
.dropdown-menu{
    background: rgba(6, 68, 121, 0.90);
}
#ponuky{
    margin-bottom: 0 !important;
}
 thead{
    border-bottom: 2px solid rgba(0, 0, 0, 0.09);
}
.typ-thead,
.truck-thead{
    border-bottom: 2px solid rgba(0, 0, 0, 0.09);
}
tr.border.clearfix {
    border-top: 1px solid rgba(189, 187, 187, 0.24);
}
.rest-show{
    word-break: break-all;
}
h2{
    color: #1b1b1b;
}
.fa-comment{
    margin: 10px 10px;
    font-size: 20px;
    color: #c3c3c3;
    cursor: pointer;
}
.fa-active,
.fa-comment:hover{
    color: #777777;
}

.hladat{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100&1+0,0+100;Blue+to+Transparent */
    background: -moz-linear-gradient(-45deg, rgba(30,87,153,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color: white;
    padding: 0;
}
.hladat .hlad, .border-red-bottom{
    border-bottom: 1px rgba(250, 234, 31, 0.74) solid;;
}
.padding-zero{
    padding: 0;
    margin: 0;
}
#bod-back{
    position: fixed;
    z-index: -1;
    top: 0;
    height: 100%;
    width: 100%;
}
#truck-table{
    background: rgba(230, 230, 230, 0.65);
    padding: 40px 0;
}
tr,td,th {
    vertical-align:middle !important;
}
.table-striped{
    background: rgba(249, 249, 249, 0.78);
}
.offset{
    margin-top: 60px;
    margin-bottom: 60px;
}
.offset-header{
    margin-top: 60px;
    margin-bottom: 20px;
}
.offset-header a{
    color:black;
}
.offset-header a:hover{
    color: #636b6f;
    text-decoration: none;
}
.react{
    margin-top: 30px;
}
.rozmer h4,
.typ-thead h4{
    margin:0;
}
.typ-thead th{
    padding-top: 25px !important;
}
.hodnota{
    font-size: 10px;
}
#ponuky h4{
    margin-bottom: 0;
}
.rozmer p{
    font-size: 12px;
}
.text-box{
    padding: 40px;
    border: rgba(4, 4, 4, 0.49) solid 1px;
    border-radius: 4%;
    height: 300px;
    background: rgba(255, 255, 255, 0.69);
    overflow: auto;
    -webkit-box-shadow: 0px 6px 10px 2px rgba(145,145,145,1);
    -moz-box-shadow: 0px 6px 10px 2px rgba(145,145,145,1);
    box-shadow: 0px 6px 10px 2px rgba(145,145,145,1);
}
.truck-container{
    border: rgb(76, 75, 75) solid 1px;
    padding: 30px 30px;
}

.auction_table>tbody>tr>td, .auction_table>tbody>tr>th, .auction_table>tfoot>tr>td, .auction_table>tfoot>tr>th, .auction_table>thead>tr>td, .auction_table>thead>tr>th {
   border: none;
    /*border-top: 1px solid rgba(228, 15, 15, 0.39);
    vertical-align: middle;
    */
}
.button-blue{
    position: relative;
    top: 0;
    background: rgba(9, 62, 130, 0.82);
    padding: 10px;
    margin: 22px;
    color: white;
    border-radius: 12%;
    float: right;
    text-decoration: none;
    cursor: pointer;
}

#pridat,#hodnotenie{
    display: none;
    padding: 55px 0;
}
@import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
h1 { margin: 10px; }

.rating {
    border: none;
    float: left;
}

.rating > input { display: none; }
.rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}
.star{
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  }

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }
#rating{
    margin: 60px 0;
}
#hodnotenie{
    display: none;
}
.null{
    margin: 0 !important;
    border: none !important;
    padding: 0 4px !important;
}
.td-comment{
    border: none !important;
}
.div-comment{
    border: 1px solid rgba(144, 144, 144, 0.42);
    font-size: 18px;
    word-break: break-all;
    padding: 40px 30px;
    -webkit-box-shadow: 0px 0px 42px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 42px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 42px -9px rgba(0,0,0,0.75);
    display: none;
}
.star{
    float: left;
    width: 22px;
    z-index: 2;
    position: relative;
}
.user-rating{
    background: white;
    position: relative;
    width: 110px;
    margin: 0 auto;
}
.user-cont .user-rating{
    height: 19px;
}
.table-h1{
    padding: 30px 0;

    background: #fafafa;
    margin-bottom: 14px;
    -webkit-box-shadow: 0px 6px 5px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 5px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 5px -4px rgba(0,0,0,0.75);
    border-bottom: 1px solid #ececec;
}
.table-h1 h1{
    margin-bottom: 30px;
}
.name-cont{
    float: left;margin-right: 10px;
}
.name{
    color: #636b6f;
}
.name:hover{
    text-decoration: none;
    color: black
}
#ponuka-rating{
    width: 200px !important;
    -webkit-box-shadow: -4px 6px 7px 1px rgba(0,0,0,0.42);
    -moz-box-shadow: -4px 6px 7px 1px rgba(0,0,0,0.42);
    box-shadow: -4px 6px 7px 1px rgba(0,0,0,0.42);
}
#ponuka-rating .star {
    width: 40px !important;
}
.star-hover{
    background: #FFD700;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.alt{
    z-index: 3;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.normal{
    color: black;
    text-decoration: none;
}
.addHeader{
    background: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid rgb(255, 255, 255);
}
.add-Header-right{
    position: absolute;
    right: 0;
    width: 100%;
    z-index: -1;
    bottom: 0;
}
#addfirst{
    z-index: 2;
}
.add-form{
    padding-top: 100px;
    padding-bottom: 100px;
}
#form{
    padding-top: 100px;
    padding-bottom: 100px;
    -webkit-box-shadow: 0px 0px 29px 4px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 0px 29px 4px rgba(0,0,0,0.32);
    box-shadow: 0px 0px 29px 4px rgba(0,0,0,0.32);
    border: 1px solid #d0d0d0;

}
.form-div{
    margin-bottom: 70px;
}
.form-div .col-md-10{
    border: 1px solid #b9b9b9;
    padding-bottom: 25px;
    -webkit-box-shadow: 0px 0px 29px 4px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 0px 29px 4px rgba(0,0,0,0.12);
    box-shadow: 0px 0px 29px 4px rgba(0,0,0,0.12);
}
.clearfix{
    clear: both;
}
.form-div h2{
    margin-bottom: 30px;
    color: black;
}
.add-container #form{
    background: rgba(255, 255, 255, 0.81);
}
.blueBack{
    position: absolute;
    height: 250px;
    left: 0;
    width: 100%;
    max-height: 100%;
    z-index: -1;
    height: 100%;
    opacity: 0.8;
}
.addTitle{
    margin:100px 0 100px 0;
    margin-left: 30%;
    font-size: 35px;
    text-align: left;
}
.add{
    width: 70px;
}
.TitleTwo{
    color: white;
    font-size: 30px;
}
.ui-autocomplete li:hover,
.ui-autocomplete li:active,
.pac-item:hover,
.pac-item-selected{
    background: #337ab7;
    color: white;
}
.ui-state-focus{
    background: #337ab7 !important;
    color: white !important;
}
@media screen and (max-width:1350px) {
    body{
        font-size: 13px;
    }
    h3{
        font-size: 20px;
    }
    h2{
        font-size:23px;
    }
    h1{
        font-size: 26px;
    }
    a{
        font-size: 14px;
    }
}